* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

body {
    color: rgb(51, 51, 51);
    font-family: Arial;
}

button {
    font-family: Arial;
}

path, i, svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    color: rgb(212, 212, 212);
    /*background: #d4c850;*/
}

.color {
    height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    /*background: limegreen;*/
}

.color h2 {
    font-size: 2rem;
    cursor: pointer;
}

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: rgb(172, 148, 148);
    padding: 1rem;
    width: 85%;
    /*opacity: 0;*/
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /*transform: translateY(100px);*/
    /*adding adjustment class*/
    transition: all .5s ease-in-out;
    /*pointer-events: none;*/
}

/*for sliders:*/
input[type="range"] {
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.sliders.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}
.sliders button,
.close-save,
.close-library {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    background: rgb(73, 73, 73);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: column;
    /*background: limegreen;*/
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}
.panel button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}
.panel p {
    font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adjust, .lock {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
}