

/* GENERAL
=========================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #fff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #d4c850;
}




.welcome {
    position: absolute;
    color: white;
    z-index: -5;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Optima";

}
.left-home-para {
    position: absolute;
    color: black;
    left: 50%;
    margin-top: 39%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
}
.right-home-para {
    position: absolute;
    color: black;
    right: -30%;
    margin-top: 39%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;

}




.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: 1s all cubic-bezier(.87, .76, .33, .98);
    overflow: hidden;
}

.split.left {
    left: 0;
    background: #65fce1;
}

.split.right {
    right: 0;
    background: #f7d000;
}

.hover-left .split.left {
    width: 60%;
}

.hover-left .split.right {
    width: 40%;
}

.hover-right .split.right {
    width: 60%;
}

.hover-right .split.left {
    width: 40%;
}

.left-div-img{
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-div-img {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    width: 600px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(.87, .76, .33, .98);
}

.hover-left .split.left .text {
    transform: translate(-40%, -50%);
}

.hover-left .split.right .text {
    transform: translate(-40%, -50%);
}

.hover-right .split.right .text {
    transform: translate(-60%, -50%);
}

.hover-right .split.left .text {
    transform: translate(-45%, -50%);
}
/*may not need - redundant*/
.circle {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    border: 17px solid blue;
    border-radius: 50%;
    align-items: center;
    animation: border-colors 5s ease-in-out infinite;
}
@keyframes border-colors {
    0%{
        border-color: #f7d000;
    }
    50%{
        border-color: #d4c850;
    }
    100%{
        border-color: #f7d000;
    }
}

/*may not need - redundant*/
.scircle {
    height: 150px;
    width: 150px;
    margin: auto;
    position: relative;
    border-right: 10px solid transparent;
    border-top: 10px solid #65fce1;
    border-left: 10px solid #65fce1;
    border-bottom: 10px solid #65fce1;
    border-radius: 50%;
    transform: rotate(-45deg);
}
@keyframes rotation {
    0% {
        transform: rotate(-45deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }

    57%{
        border-color: #03fcdb;
        border-right: 10px solid transparent;
        opacity: 0.1;
    }
    100%{
        transform: rotate(315deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }
}

.home-button {
    font-family: 'Arial';
    background-color: #d4c850;
    border-radius: 100vmax;
    border: 5px solid #fff;
    height: 50px;
    width: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #343a40;
    position: absolute;
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
}
.home-button:hover {
    transition: ease-out 295ms;
    background-color: #d4c850;
    color: #fff;
    cursor: pointer;
}