

/* GENERAL
=========================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #fff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #d4c850;
}

ion-icon {
    font-size: 25px;
}


.welcome {
    position: absolute;
    color: white;
    z-index: -5;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Optima";

}
.left-home-para {
    position: absolute;
    color: black;
    left: 50%;
    margin-top: 39%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
}
.right-home-para {
    position: absolute;
    color: black;
    right: -30%;
    margin-top: 39%;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;

}



/* CONTENT
=========================== */
/*NEED*/
.content {
    position: relative;
    width: 100%;
    height: 100%;
}
/*NEED*/
.split {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: 1s all cubic-bezier(.87, .76, .33, .98);
    overflow: hidden;
}
/*NEED*/
.split.left {
    left: 0;
    background: #65fce1;
}
/*NEED*/
.split.right {
    right: 0;
    background: #f7d000;
}
/*NEED*/
.hover-left .split.left {
    width: 60%;
}
/*NEED*/
.hover-left .split.right {
    width: 40%;
}
/*NEED*/
.hover-right .split.right {
    width: 60%;
}
/*NEED*/
.hover-right .split.left {
    width: 40%;
}

.left-div-img{
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-div-img {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    width: 600px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(.87, .76, .33, .98);
}

/*.text .subtitle {*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    color: #fff;*/
/*    letter-spacing: 2px;*/
/*}*/

/*.text .title {*/
/*    font-size: 80px;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    font-weight: 700;*/
/*    font-family: 'sansserifexbflf-italic';*/
/*    line-height: 1;*/
/*    letter-spacing: 5px;*/
/*    margin-top: 10px;*/
/*}*/

/*.text .desc {*/
/*    font-size: 14px;*/
/*    color: #fff;*/
/*    font-weight: 300;*/
/*    line-height: 2;*/
/*    margin: 10px 0 30px 0;*/
/*    width: 400px;*/
/*}*/

/*.text .button {*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    background: transparent;*/
/*    border: #fff solid 2px;*/
/*    padding: 15px 50px;*/
/*    text-align: center;*/
/*    font-weight: 700;*/
/*    letter-spacing: 1px;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    border-radius: 100px;*/
/*}*/

.hover-left .split.left .text {
    transform: translate(-40%, -50%);
}

.hover-left .split.right .text {
    transform: translate(-40%, -50%);
}

.hover-right .split.right .text {
    transform: translate(-60%, -50%);
}

.hover-right .split.left .text {
    transform: translate(-45%, -50%);
}


/* SLIDER
=========================== */
.slider {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80px;

    display: flex;
    align-items: center;
}

.pages {
    padding: 0 20px;
    font-weight: bold;
}

.pages span::after {
    content: "";
    display: inline-block;
    border: .5px solid #fff;
    width: 100px;
    margin: 0 10px;
    transform: translateY(-4px);
}

.arrows {
    padding: 0 20px;
}

.arrows ion-icon {
    font-size: 30px;
    padding: 0 20px;
}

/* CIRCLES */
/*.circle {*/
/*    !*position: relative;*!*/
/*    height: 150px;*/
/*    width: 150px;*/
/*    margin: 10px auto;*/
/*    border: 17px solid blue;*/
/*    border-radius: 50%;*/
/*    align-items: center;*/
/*    animation: border-colors 5s ease-in-out infinite;*/
/*    !*box-shadow: 0 7px 11px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);*!*/
/*}*/
.circle {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    border: 17px solid blue;
    border-radius: 50%;
    align-items: center;
    animation: border-colors 5s ease-in-out infinite;
    /*box-shadow: 0 7px 11px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);*/
}
@keyframes border-colors {
    0%{
        border-color: #f7d000;
    }
    50%{
        border-color: #d4c850;
    }
    100%{
        border-color: #f7d000;
    }
}





/*.scircle {*/
/*    height: 150px;*/
/*    width: 150px;*/
/*    margin: auto;*/
/*    border-right: 10px solid transparent;*/
/*    border-top: 10px solid #65fce1;*/
/*    border-left: 10px solid #65fce1;*/
/*    border-bottom: 10px solid #65fce1;*/
/*    border-radius: 50%;*/
/*    transform: rotate(-45deg);*/
/*    animation: rotation 2s ease-in-out infinite;*/
/*}*/
.scircle {
    height: 150px;
    width: 150px;
    margin: auto;
    position: relative;
    /*margin-left: -10%;*/
    border-right: 10px solid transparent;
    border-top: 10px solid #65fce1;
    border-left: 10px solid #65fce1;
    border-bottom: 10px solid #65fce1;
    border-radius: 50%;
    transform: rotate(-45deg);
    /*animation: rotation 2s ease-in-out infinite;*/
}
@keyframes rotation {
    0% {
        transform: rotate(-45deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }

    57%{
        border-color: #03fcdb;
        border-right: 10px solid transparent;
        opacity: 0.1;
    }
    100%{
        transform: rotate(315deg);
        border-color: #65fce1;
        border-right: 10px solid transparent;
    }
}

button {
    font-family: 'Arial';
    background-color: #d4c850;
    border-radius: 100vmax;
    border: 5px solid #fff;
    height: 50px;
    width: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #343a40;
    position: absolute;
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
}
button:hover {
    transition: ease-out 295ms;
    background-color: #d4c850;
    color: #fff;
    cursor: pointer;
}