* {
    padding: 0;
    box-sizing: border-box;
    /*width: ma;*/
    /*background-color: snow;*/
}

.native-full-screen {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    /*margin-top: 100px;*/
    left: 50%;
    height: 100vh;
    background-color: #84ab67;
    background-image: url("../img/sur.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron {
    -webkit-box-shadow: 13px 18px 73px -23px rgba(0,0,0,0.71);
    -moz-box-shadow: 13px 18px 73px -23px rgba(0,0,0,0.71);
    box-shadow: 13px 18px 73px -23px rgba(0,0,0,0.71);
    text-align: center;
    padding: 15px 0;
}

.logo {
    background-image: url("../img/logoccil.png");
    background-position: center;
    background-size: cover;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    left: 35px;
    position: relative;
    /*clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);*/

}

.logo-span {
    color: white;
    font-size: 3.5rem;
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
}

/*.jumbotron {*/
/*    background: salmon;*/
/*    color: red;*/
/*}*/

/*.navbar ul {*/
/*    background-color: #C3EECF;*/
/*    text-align: center;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*}*/

/*li {*/
/*    padding: 10px;*/
/*}*/
/*!* change the brand and text color *!*/
/*.navbar-custom .navbar-brand,*/
/*.navbar-custom .navbar-text {*/
/*    color: rgba(255,255,255,.8);*/
/*}*/
/*!* change the link color *!*/
/*.navbar-custom .navbar-nav .nav-link {*/
/*    color: rgba(255,255,255,.5);*/
/*}*/
/*!* change the color of active or hovered links *!*/
/*.navbar-custom .nav-item.active .nav-link,*/
/*.navbar-custom .nav-item:hover .nav-link {*/
/*    color: #ffffff;*/
/*}*/


/*.slideshow-container {*/
/*    !*max-width: 1000px;*!*/
/*    !*max-height: 500px;*!*/
/*    position: relative;*/
/*}*/

.navbar {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}


.reg-card {
    transition: 3.5ms all ease;
    cursor: pointer;
    overflow: hidden;
}

.cardy{
    transition: 3.5ms all ease-in;
    overflow: hidden;
    size: 2.5rem;
    -webkit-box-shadow: 13px 18px 73px -23px rgba(0,0,0,0.71);
    -moz-box-shadow: 13px 18px 73px -23px rgba(0,0,0,0.71);
    box-shadow: 13px 18px 73px -23px rgba(0,0,0,0.71);
}
.cardy:hover {
    animation: enlarge .55s ease-out;
    cursor: pointer;
}
@keyframes enlarge {
    0%{
        transform: scale(1);
    }
    35%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}